@model FrontEnd.Models.HorariosModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using (Html.BeginForm("Save","Home",FormMethod.Post))
{
    <body>

        <section id="registro" style="padding: 15px; height: 600px;">
            <h1>Registro de Horarios</h1>
            <form class="row g-3 needs-validation" novalidate>

                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom02" class="form-label" style=" font-family:'Arial Rounded MT'">Entrada </label>
                            <select class="form-control" id="hsDesde" name="hsDesde" aria-label="Default select example" style="border:1px black solid">
                                <option selected>Hora de Entrada</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                               
                            </select>
                        </div>
                        <div class="col">
                            <label for="validationCustom02" class="form-label" style=" font-family:'Arial Rounded MT'">Salida </label>
                            <select class="form-control" id="hsHasta" name="hsHasta" aria-label="Default select example" style="border:1px black solid">
                                <option selected>Hora de Salida</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>


                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="col-12" style="margin-top:40px">
                    <button class="btn btn-primary" type="submit">Registrar Nuevo Horario</button>

                </div>
            </form>
        </section>
    </body>
}

